<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>

   <body onload="loadImage()">
        <h1>Actuators</h1>
        <h2> Status </h2>
        <h3> RED LED ==>  {{ ledRed  }}</h3>
        <h3> YLW LED ==>  {{ ledYlw  }}</h3>
        <h3> GRN LED ==>  {{ ledGrn  }}</h3>
        <br>
        <h1>Configuration</h1>

        <h2> Commands </h2>
        <h3>
            <p id="p1"> blah </p>
            <script>
            function loadImage() {
                var intervalID = setInterval(timer, 500);
            }

            function timer() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                     document.getElementById("p1").innerHTML = this.responseText;
                    }
                  };
                xhttp.open("GET", "/distance", true);
                xhttp.send();
            }
           </script>

            RED LED Ctrl ==>
            <a href="/ledRed/on" class="button">TURN ON</a>
            <a href="/ledRed/off"class="button">TURN OFF</a>
        </h3>
        <h3>
            YLW LED Ctrl ==>
            <a href="/ledYlw/on" class="button">TURN ON</a>
            <a href="/ledYlw/off"class="button">TURN OFF</a>
        </h3>
        <h3>
            GRN LED Ctrl ==> {{ ledGrn }} ==>
                {% if ledGrn == 1 %}
                    <a href="/ledGrn/off" class="button">TURN OFF</a>
                {% else %}
                    <a href="/ledGrn/on"class="button">TURN ON</a>
                {% endif %}
        </h3>

   </body>
</html>